*{
	box-sizing: border-box;
}
body{
	background-image: url(https://i.pinimg.com/236x/25/a1/c3/25a1c3aa6263cc12e3a51cd7b589f375--rose-shop-quatrefoil-pattern.jpg);
}
header{
	background-color: white;
	font-family: 'Georgia', Times;
	height: 100px;
	position: relative;
	border-bottom: 2px solid black;
}
.name{
	background-color: teal;
	text-align: center;
	width: 400px;
	height: 76px;
	color: white;
	float: left;
	bottom: 0;
	margin-left: 100px;
	padding: 20px;
}
#pagelink{
	text-align: center;
	top: 50%;
	font-size: 2em;
	float: right;
	padding: 50px;
}
.box{
	clear: both;
	padding: 40px;
	height: 900px;
	width: 750px;
	background-color: white;
	float: left;
	margin: 52px 70px 50px 100px;
	border: 2px solid;

}
.about{
	color: teal;
	font-size: 3.5em;
	border-bottom: 2px solid black;
}
#pic{
	float: left;
	padding: 0px 20px 20px 20px;
}
#p1,
#p2{
	font-size: 21px;
	font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
	line-height: 150%;
	letter-spacing: 1px;
	word-spacing: 1px;
}
#p2{
	clear: both;
}
.connect{
	text-align: center;
	background-color: white;
	width: 300px;
	height: 150px;
	margin: 50px 50px 50px 100px;
	float: left;
	border: 2px solid;
	text-decoration: none;

}
footer{
	clear: all;
	position: fixed;
	bottom: 0;
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	z-index: 4;
	margin: 0;
}
form{
	background: white;
	width: 750px;
	height: 600px;
	padding: 40px;
	margin: 70px 70px 50px 100px;
	font-size: 1.8em;
	float: left;
	border: 2px solid;
}
#contact{
	color: teal;
	border-bottom: 2px solid black;
}
#submit{
	background-color: teal;
	border: none;
	width: 80px;
	height: 30px;
	font-size: .75em;
}
#message{
	box-sizing: 400px;
}
#back{
	background: white;
	position: relative;
	width: 750px;
	height: 1200px;
	margin: 70px 70px 50px 100px;
	float: left;
	border: 2px solid black;
	z-index: 1;
	padding: 40px 40px 40px 60px;
}
#port{
	font-size: 3.5em;
	color: teal;
	border-bottom: 2px solid black;
}
#hangman{
	position: relative;
	z-index: 2;
	float: left;
	margin: 50px
}
#RPG{
	position: relative;
	z-index: 2;
	float: left;
	margin: 50px;
}
#trivia{
	position: relative;
	z-index: 2;
	float: left;
	margin: 50px;
}
#rutgers{
	position: relative;
	z-index: 2;
	float: left;
	margin: 50px;
}
#rock{
	position: relative;
	z-index: 2;
	float: left;
	margin: 50px;	
}
.banner{
	background: teal;
	color: white;
	width: 200px;
	height: 70px;
	position: absolute; 
	bottom: 0;
	z-index: 3;
	text-align: center;
	padding: 15px;
}